* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Urbanist", sans-serif;
}

header{
    width: 100%;
    height: 70px;
    background-color: #A60A6C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body{
    background-color: white;
}

.logo {
    margin-bottom: 10px;
    width: 70px;
}

.logo img{
    border-radius: 50%;
    width: 70px;
}